@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~admin-lte/dist/css/adminlte.min.css";

:root {
    --color-1: #17882c;
    --color-2: #00420c;
    --color-3: #002907;
}

.bg-color-1 {
    background-color: var(--color-1);
}

.bg-color-2 {
    background-color: var(--color-2);
}

.bg-color-3 {
    background-color: var(--color-3);
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: var(--color-1);
    color           : #fff;
}

.navbar,
.content-header,
.content-wrapper>.content {
    padding-left : 1rem;
    padding-right: 1rem;
}
