@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~admin-lte/dist/css/adminlte.css";

:root {
    --color-1: #17882c;
    --color-2: #00420c;
    --color-3: #002907;
}

[role=button] {
    cursor: pointer;
}

.preloader {
    transition-duration: 135ms;
}

.bg-color-3 {
    background-color: var(--color-3);
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: var(--color-1);
    color           : #fff;
}

.navbar,
.content-header,
.content-wrapper>.content {
    padding-left : 1rem;
    padding-right: 1rem;
}

.show-table th {
    width: 1%;
}

.show-table.table tbody tr:first-child td,
.show-table.table tbody tr:first-child th {
    border-top: 0;
}

.btn {
    border-radius: 0;
}