@import "~line-awesome/dist/line-awesome/css/line-awesome.css";
@import "~admin-lte/dist/css/adminlte.css";

:root {
    --color-1: #17882c;
    --color-2: #00420c;
    --color-3: #002907;
}

[role=button] {
    cursor: pointer;
}

.preloader {
    transition-duration: 135ms;
}

.bg-color-3 {
    background-color: var(--color-3);
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: var(--color-1);
    color           : #fff;
}

.navbar,
.content-header,
.content-wrapper>.content {
    padding-left : 1rem;
    padding-right: 1rem;
}

.show-table th {
    width      : 1%;
    white-space: nowrap;
}

.show-table.table tbody tr:first-child td,
.show-table.table tbody tr:first-child th {
    border-top : 0;
    padding-top: 0;
}

.show-table.table tbody tr:last-child td,
.show-table.table tbody tr:last-child th {
    padding-bottom: 0;
}

.show-table.table tbody tr td:first-child,
.show-table.table tbody tr th:first-child {
    padding-left: 0;
}

.show-table.table tbody tr td:last-child,
.show-table.table tbody tr th:last-child {
    padding-right: 0;
}

.btn {
    border-radius: 0;
}

.nav-sidebar .nav-item {
    margin-left : auto;
    margin-right: auto;
}

.nav-sidebar>.nav-item .nav-icon.las {
    font-size: 1.5rem;
}

.nav-sidebar .nav-link p {
    vertical-align: text-bottom;
}

.nav-sidebar .nav-link {
    padding: .4rem .6rem;
}

.sidebar-collapse.sidebar-mini .main-sidebar .nav-sidebar .nav-link,
.sidebar-collapse.sidebar-mini-md .main-sidebar .nav-sidebar .nav-link,
.sidebar-collapse.sidebar-mini-xs .main-sidebar .nav-sidebar .nav-link {
    width: 3rem;
}

.nav-sidebar .nav-item>.nav-link {
    margin-bottom: 0.4rem;
}

.select2-container--bootstrap4.primary .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff;
    border-color    : #006fe6;
    color           : #fff;
}

.select2-container--bootstrap4.primary .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}