@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../icomoon/style.css";

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.app-row {
    @apply px-8;
}

.streched-link {
    /* parent needs to have .relative */
    @apply after:absolute after:inset-0;
}

.show-on-scroll {
    opacity: 0;
}

@keyframes show-on-scroll {
    from {
        opacity  : 0;
        transform: translate3d(0, -400px, 0);
    }

    to {
        opacity  : 1;
        transform: translate3d(0, 0, 0);
    }
}

.show.show-on-scroll {
    opacity  : 1;
    animation: show-on-scroll 1s;
}

.slide+.slide {
    @apply ml-8;
}

.slides {
    transition: margin 700ms;
}

h1 {
    @apply text-6xl;
}

h2 {
    @apply text-5xl;
}

h3 {
    @apply text-4xl;
}

h4 {
    @apply text-3xl;
}

h5 {
    @apply text-2xl;
}

h6 {
    @apply text-xl;
}

.table-primary td,
.table-primary th {
    @apply border border-slate-300 px-5 pb-2 pt-4;
}

.label-primary {
    @apply uppercase font-bold text-xs text-gray-700;
}

.input-primary {
    @apply w-full border border-gray-400 focus:outline-none focus:ring py-2 px-3;
}

select.input-primary {
    @apply px-2;
}

[type="file"].input-primary,
select.input-primary {
    @apply bg-white;
}

.button-primary {
    @apply bg-blue-500 text-white uppercase font-semibold text-xs py-1.5 px-10 rounded-2xl hover:bg-blue-600;
}

.form-footer-primary {
    @apply flex justify-between pt-5 px-3 border-t border-gray-200;
}

.form-primary {
    @apply space-y-5;
}